body{
 background-color: ;
 font-family: Arial, Verdana, sans-serif; 
}

header {
  color: white;
  text-align: center;
}

h1 {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

section {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35)
}

div {text-align: center;}

#output {height: 30px;}

img {
  object-fit: cover;
  border-radius: 110px;
  object-position: 50% 100%;
  width: 220px; 
  margin: auto;
  display: block;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
