* {
  margin: 0;
}

html, body {
  min-height: 100svh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  background-color: red;
  height: 50px;
  width: 50px;
  transition: 1s;
}

div:hover {
  background-color: hsl(0, 100%, 72%);
  cursor: pointer;
}

.jump {
  animation: jump 0.9s ease-out;
}

.down {
  animation: down 2s linear;
}

.right {
  animation: right 2s linear;
}

.left {
  animation: left 2s linear;
}

.rotate {
  animation: rotate 5s ease-in;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes down {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes right {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes left {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rotate {
  10% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(-360deg);
  }
  55% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(-360deg) scale(1.2);
  }
  70% {
    transform: rotate(360deg) scale(1.4);
  }
  80% {
    transform: rotate(-360deg) scale(1.6);
  }
  90% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(0) scale(1.0);
  }
}